# e.g. FOOBARcwaav1MhNregbHJYw
GH_TOKEN=ghp_
GH_WEBHOOK_SECRET=
CF_ZONE_ID=
PODCAST_ADMIN_PASSWORD=
PODCAST_ADMIN_SESSION_SECRET=
RECLIP_URL=https://your-reclip-app.up.railway.app
PUBLIC_PRESENCE_ADMISSION_RATE=1
