/* .code,
code {
  padding: 0 0.25rem;
  background: #eee;
  border-radius: 3px;
  margin-right: 0.5rem;
  font-family: monospace;
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  line-height: 2.35rem;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #06395a;
  border-top: 10px solid #06395a;
  padding-top: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background: #f4f7fb;
} */


body {
  color: #06395a;
  border-top: 10px solid #06395a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background: #f4f7fb;
}