## Advising and Investing Portfolio

My largest shareholdings are Temporal and Cognition, but for the last 5ish years I have been advising and investing in startups, having started the [devtools-angels community](https://dx.tips/angel-101).
                                                                                                                       
I mostly help startups do a few things:
  - figure out their devrel & dev community strategy
  - hire their first few devrels
  - give AI product feedback and launch guidance.

My portcos do not get any guaranteed spots in either Latent Space or AI Engineer, however of course familiarity with them and their progress can cause their odds of being featured to go up. However if they're not a fit, orders of magnitude more of my self worth and identity and principles and value is in LS and AIE and I will not "sell out" just to "pump my bags".
  
Here is a sampling of the companies I have previously advised and invested in (NO PARTICULAR ORDER THIS WAS JUST BRAINDUMPED):

  - Well known names
    - [Temporal](https://swyx.io/why-temporal)
    - [Cognition](https://swyx.io/cognition)
    - Supabase (Postgres)
    - Railway.app (better heroku)
    - [MatX](https://www.youtube.com/watch?v=qvrdCpLPbuQ)
    - Artifical Analysis (Gartner of AI)
    - [🅱️rowserbase](https://www.latent.space/p/browserbase) (i was in [the video](https://x.com/pk_iv/status/1934986965998608745)!)
    - Fireworks (inference)
    - E2b (sandboxes for agents)
    - Daytona (sandboxes for agents... i know i know)
    - Resend (new email api)
    - Modal (serverless python with fast containers and gpus)
    - [Conductor](https://x.com/charlieholtz/status/2039027121901957349)
    - [Chroma](https://www.latent.space/p/chroma)
    - Logan Kilpatrick
    - Matthew Berman
  - You should know
    - Datalab (see AIE talk)
    - Zeta AI / [Viktor](http://getviktor.com/)
    - Brightwave (deep research for finance)
    - Quadratic (AI spreadsheet)
    - Flutterflow (low code Flutter builder)
    - Circle.so (creator Community tooling)
    - Airbyte (open source fivetran)
    - Sphere Semiconductor (tba)
    - Restate.dev (serverless fast Temporal)
    - Val.town (gists that run)
    - Stackblitz/Bolt (ai builder in wasm webcontainers)
  - Smaller names
    - Preference Model (Ning Cao)
    - Tinybird (Alap Shah)
    - Clarify.ai (Patrick Thompson)
    - Phonic (see Moin Nadeem)
    - Keycard Labs (see AIE talk)
    - Confident Security (see latent space pod)
    - Lightweight Labs (accounting)
    - Wordware (low code automation)
    - Polyhive
    - Sailplane
    - Morph.so
    - Fireproof Storage
    - Arcjet
    - Cosine (see LS feature)
    - Responsive.dev
    - Budibase
    - 100ms.live
    - Expand.ai
    - Catamaran Research (Derek Zaw)
    - Replay.io (still alive!)
 - Done
    - Astral (exited, OpenAI)
    - Promptfoo (exited, OpenAI)
    - Gabber.dev (exited, Livekit)
    - Codegen.ai (exited, ClickUp)
    - Brev.dev (exited, Nvidia)
    - Gel data (fka EdgeDB, exited Vercel)
    - Dynamic (exited Fireblocks)
    - Begin.com (dead)
    - Dimension.dev (dead)
      
I am no longer taking new advising inquiries. If you are fundraising, please get a warm intro from someone who knows me, if you want to reach me - primarily preseed-seed-series A. Thanks for your interest!
